@{
    ViewData["Title"] = "Programación 1";
}

<div class="text-center">
    <h1 class="display-4">Estudiantes</h1>
    <h3>Registro</h3>

</div>

<div class="text-center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Google_Contacts_logo.png" alt="" width="400" height="400" />
</div>
<body>  
    
    <h2>Ingreso de Alumnos2022</h2>
    
   


</body>

